<div class="source">
  <p class="source_link">Source:
    <button class="source_show">Show</button>
    |
    <a href="<%= github_url(object) %>" target="_blank" class="github_url">on GitHub</a>
  </p>

  <table class="source_code">
    <tr>
      <td>
        <pre class="code"><%= html_syntax_highlight object.source %></pre>
      </td>
    </tr>
  </table>
</div>
