<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><code>#==</code></h5>
      </div>
      <small><code>Hanami::Utils::Hash</code></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><code>#==</code></h5>
      </div>
      <small class="text-muted"><code>Hanami::Utils::String</code></small>
    </a>
  </div>
</nav>
